@media (max-width: 1200px) {
    main::after{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7) 55%, transparent 80%);
    }
}

@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 65%) no-repeat;
        width: 100vw;
    }

    body{
        background-color: rgb(82, 81, 78);
    }

    main .personagem .imagem {
        height: 45%;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -9%;
        max-width: 100vw;
        padding: 30px; 
    }

    .conteudo .nome-personagem {
        font-size: 36px;
    }

    .recompensa {
        height: 160px;
        width: 120px;
        object-fit: fill;
    }

    .conteudo .descricao {
        max-width: auto;
        line-height: 25px;
        font-size: 20px; 
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    .botoes .botao img {
        max-width: 100%;
    }

    .botoes .botao.selecionado {
        transform: scale(1.4);
        box-shadow: 0 0 10px #D9D9D9;
    }
}

@media (max-width: 430px) {
    main .personagem .imagem {
        height: 50vh;
    }

    .conteudo .logo {
        width: 170px;
        height: 75px;
    }

    .conteudo {
        top: -7%;
    }

    .conteudo .nome-personagem {
        font-size: 23px;
    } 

    .conteudo .descricao {
        font-size: 18px; 
    }

    .botoes {
        display: flex;
        padding: 20px;
        top: 0;
    }

    .recompensa {
        height: 100px;
        width: 80px;
        margin-top: 20px;
    }

    
}